<section class="my-addresses-view width-80 center">
	<h2 class="sr-only">A screen of displaying addresses registered under user's profile.</h2>
	<div class="page-smarterLiving-logo center">
		<img src="/Images/Zuc/images/homepage/SmarterLivingLogo_small.png" alt="Smarter living logo with house roof icon.">
	</div>
	<h3 class="memberProfile-title .memberForm-margin">My addresses</h3>
	
	<div class="address-area">
		<div class="memberAddress-box">
			<p>Billing</p>
		</div>
		<div class="memberAddress-box">
			<p>Service</p>
		</div>
		<div class="memberAddress-box">
			<p>Shipping</p>
		</div>
	</div>
</section>