<section class="member-info-boxed">
	<h2 class="sr-only">A box below member navigation displaying member number, member since, and reward balance.</h2>
	<div class="memberInfo-table">
		<div><p>Smarter Living Memeber Number</p></div>
		<div><p class="light-grey">111</p></div>
		<div><p>Member Since</p></div>
		<div><p class="light-grey">2019/10/29</p></div>
		<div><p>Rewards Balance</p></div>
		<div><p class="light-grey">10,900</p></div>
	</div>
</section>

<!-- Profile form, populating the existing settings and information -->
<section class="member-setup-page zuc-service-form">
	<h2 class="sr-only">Smarter living memeber account set-up form.</h2>
	<section class="inner-width">
		<div class="smarterLiving-logo center">
			<img src="/Images/Zuc/images/homepage/SmarterLivingLogo_small.png" alt="Smarter living logo with house roof icon.">
		</div>
		<div class="memberProfile-title"><h3>Welcome to Smarter Living Member account set up.</h3></div>
		<!-- Form starts -->
		<div class="zuc-forms-container flex flex-column --service">
        <form id="memberPortal-login" class="flex flex-column">
          <div class="zuc-form-row">
            <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>First name *</strong></div>
              <label class="u-screenreader" for="field-first-name">First name</label>
              <input type="text" required="" name="firstname" placeholder="First name" id="field-first-name">
            </div>
            <div class="zuc-form-group zuc-form-50">
                <div class="zuc-input-name"><strong>Last name *</strong></div>
                <label class="u-screenreader" for="field-last-name">Last name</label>
                <input type="text" required="" name="lastname" placeholder="Last name" id="field-last-name">
            </div>
          </div>
 
          <div class="zuc-form-row">
            <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>Preferred phone number *</strong></div>
              <label class="u-screenreader" for="field-current-phone">Current phone number</label>
              <input type="tel" required="" name="current-phone" placeholder="Phone number where we can reach you" id="field-current-phone">
            </div>
            <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>Alternate Phone number</strong></div>
              <label class="u-screenreader" for="field-order-phone">Alternate phone number</label>
              <input type="tel" name="order-phone" placeholder="Alternate phone number" id="field-order-phone">
            </div>
          </div>
           <div class="zuc-form-row">
            <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>Email address *</strong></div>
              <label class="u-screenreader" for="field-email">Email address</label>
              <input type="email" required="" name="email" placeholder="Email address" id="field-email">
            </div>
             <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>Alternate email address </strong></div>
              <label class="u-screenreader" for="field-email">Alternate email address</label>
              <input type="email" required="" name="alternate-email" placeholder="Alternate email address" id="alternate-field-email">
            </div>
          </div>
          <!-- Checkmarks -->
          <div class="zuc-form-row">
          	<div class="memberForm-checkmark">
          		<label for="contact-checkbox">Preferred method of contact</label>
          		<input type="checkbox" name="phone" value="phone">Phone
          		<input type="checkbox" name="text" value="text">Text
				<input type="checkbox" name="email" value="email">Email          		
          	</div>
          </div>
          <!-- New buttons added when user's account is setup -->
          <div class="zuc-form-row">
          	<div class="zuc-form-group zuc-form-50">
          		<button class="memberForm-button zuc-btn zuc-memberForm-button">My addresses</button>
          	</div>
          	<div class="zuc-form-group zuc-form-50">
          		<button class="memberForm-button zuc-btn zuc-memberForm-button ">My payment options</button>
          	</div>
          </div>
          <!-- Radio buttons -->
          <div class="zuc-form-row">
				<div class="zuc-radio-group memeberForm-radioButtons">
			             <input type="radio" id ="" name="promotionalEmails-option" value="promotionalEmails-yes">I would like to receive promotional emails about Smarter Living by Zucora Home.
			             <br>
			             <input type="radio" id="" name="promotionalEmails-option" value="promotionalEmails-no">I do not want to receive promotional emails about Smarter Living by Zucora Home.
             	</div>
	            </div>

	            <!-- div show up when "change passowrd" will clicked. -->
 
 <!--         <div class="zuc-form-row">
            <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>Password</strong></div>
              <label class="u-screenreader" for="password">Password</label>
              <input type="text" name="new-member-password" placeholder="Password" id="password">
            </div>
            <div class="zuc-form-group zuc-form-50">
              <div class="zuc-input-name"><strong>Confirm password *</strong></div>
              <label class="u-screenreader" for="confirm-password">Confirm Passowrd</label>
              <input type="text" name="new-member-confirm-password" placeholder="Confirm Passowrd" id="confirm-passowrd">
            </div>
          </div> -->
         
          <div class="zuc-form-row zuc-form-action">
            <div class="zuc-form-group auto-width">
               <button class="zuc-btn zuc-memberForm-button u-soft-shadow" type="submit"><strong><span>Save</span></strong></button>
            </div>
            <div class="zuc-form-group auto-width">
              <a href="#/">Change Password</a>
            </div>
          
          </div>
        </form>
      </div>
      <!-- Form ends -->
	</section> <!--Inner section ends-->
</section>