<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Zucora Home: Event page</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/member-center_style.css" rel="stylesheet">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
  <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- [ FONTS ]-->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
  <!-- [ JQUERY ]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Jquery ui -->
  <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script> -->
  <script src="../../Scripts/Zuc/js/navigation.js">
  </script>
  <script src="../../Scripts/Zuc/js/modals.js">
  </script>
  <script src="../../Scripts/Zuc/js/display-jobPostings.js">
  </script>
  <script src="../../Scripts/Zuc/js/Controllers/Utils.js">
  </script>
  <script src="../../Scripts/Zuc/js/member-center.js">
  </script><!-- [ Alerts ]-->

  <script src="https://cdn.jsdelivr.net/alertifyjs/1.9.0/alertify.min.js">
  </script>
  <link href="https://cdn.jsdelivr.net/alertifyjs/1.9.0/css/alertify.min.css" rel="stylesheet"><!-- [ RESPONSIVE VIEWPORT ]-->
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>
  <!-- Site Navigation-->
  <div class="zuc-nav-wrapper" data-nav-height>
    <!-- Mobile Navigation-->
    <!-- User Navigation-->
    <div class="zuc-nav-user flex flex-hor-between flex-vert-center u-uppercase">
      <!-- Slogan-->
      <div class="zuc-nav-slogan u-normal">CANADA-WIDE SHIPPING AVAILABLE. FREE ON ORDERS OVER<a href="/Zuc/faq" target="_blank" class="u-zuc-mint"> $49*</a></div>
      <!--Nav Links-->
      <div class="zuc-user-links flex flex-hor-start flex-hor-between flex-vert-center">
        <a href="/Zuc/ourstory" style="text-transform: uppercase;color:white;">About us</a>
        <a href="#/" style="text-transform: uppercase;color:white;">Blog</a>
        <!-- Login - Logged Out State-->
        <a class="zuc-user-login flex flex-vert-center u-bold u-auth-show" href="javascript:void(0)" onclick="toggleModal('[data-modal-login]')" title="Member Login">
          <!-- Logged Out State-->
          <!-- <i class="fas fa-lock u-auth-hide"></i> -->
          <span class="u-auth-hide">Member Centre</span></a>
        <!-- Account - Logged In State-->
        <a class="zuc-user-login flex flex-vert-center u-bold" href="#" title="Logout">
          <!-- Logged In state-->
          <i class="fas fa-user u-auth-show"></i><span class="u-auth-hide">Logout</span></a>
      </div>
    </div>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
      <!-- Nav Branding--><a class="zuc-nav-brand" href="/Zuc/index"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- Nav Dropdown--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
        <!-- Smarter Living Link -------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">What Is Smarter Living?</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Smarter Living Plans</a><a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living."
                  aria-role="menuitem">Smarter Living Benefits</a>
                <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
              </div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Smarter Living is about making choices that make life more comfortable and convenient.</p><img src="../../Images/Zuc/images/nav/smarter-living.png" alt="A smiling couple">
              </div>
            </div>
          </div>
        </div>
        <!-- Service Plans --------------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Service Plans</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Furniture plan</a><a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage"
                  aria-role="menuitem">Appliances Plan</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Home Systems Plan</a><a href="/Zuc/serviceplans"
                  title="View our bundles &amp; combos" aria-role="menuitem">See all Bundles &amp; Combos</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>The Smarter Living Plan offers you comprehensive, budget friendly service coverage for your furniture, major appliances, and home-comfort systems.</p><img src="../../Images/Zuc/images/nav/service-plans.png"
                  alt="A service person with toolbag">
              </div>
            </div>
          </div>
        </div>
        <!-- Smarter Home Products --------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">SMARTER HOME PRODUCTS</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Smarter Living Solutions</a><a href="/Zuc/zucollection"
                  title="View our line of home care products" aria-role="menuitem">ZU Collection</a><a href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a><a href="/Zuc/furniturecare"
                  title="Learn more about our home wellness care kits" aria-role="menuitem">Furniture Care</a><a href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop All Products" aria-role="menuitem">Shop
                  all products</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Empower your quest for a clean home and healthy family with Zucora Home's environmentally-responsible products.</p><img src="../../Images/Zuc/images/nav/smarter-home-products.png" alt="A furnished living room">
              </div>
            </div>
          </div>
        </div>
        <!-- Shop Now --------------------------------->
        <div class="zuc-nav-dropdown --clickme"><a class=" u-uppercase" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Zucora Home Products">Shop Now</a></div>
      </div>

      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span></div>
      </div>
    </nav>
    <!-- Member center, will show up memeber have logged in. -->
    <div class="member-navigation flex">
      <div class="member-links">
        <a href="#/" class="active">Help</a><span class="divider">|</span>
        <a href="#/">1000 pts</a><span class="divider">|</span>
        <a href="./memberProfile_afterConfirmation.html" class=""><i class="fas fa-user-circle"></i>My Account</a>
      </div>
    </div>
    <!-- Mobile Navigation-->
    <!-- Mobile Only Nav ------------------------>
    <div class="zuc-mobile-nav" data-mobile-menu>
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content"><a href="/Zuc/index" title="Zucora Home"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Zucora Home"></a>
        <!-- Primary CTA Button--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
      </div>
      <!-- Accordion Nav ------------------------------------------>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--About Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">About Us<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Zuc/ourstory" title="About Zucora Home" aria-role="menuitem">Our Story</a><a class="zuc-accordion-link" href="/Zuc/formcontactus" title="Contact us"
              aria-role="menuitem">Contact Us</a><a class="zuc-accordion-link" href="/Zuc/ourstory" title="Our team" aria-role="menuitem">Our Team</a></div>
        </div>
        <!-- Smarter Living Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">What Is Smarter Living?<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Smarter Living Plans</a><a href="/Zuc/smarterlivingmembershipbenefits"
              title="What is Smarter living." aria-role="menuitem">Smarter Living Benefits</a>
            <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
          </div>
        </div>
        <!-- Service Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Service Plans<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Furniture plan</a><a href="/Zuc/serviceplansappliance"
              title="Learn more about appliance coverage" aria-role="menuitem">Appliances Plan</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Home Systems Plan</a><a
              href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">See all Bundles &amp; Combos</a></div>
        </div>
        <!-- Home Care Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Smarter Home Products<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Smarter Living Solutions</a><a
              class="zuc-accordion-link" href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">ZU Collection</a><a class="zuc-accordion-link" href="/Zuc/purecare" title="View our line of sleep wellness products"
              aria-role="menuitem">PureCare</a><a class="zuc-accordion-link" href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Furniture Care</a><a class="zuc-accordion-link"
              href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="View our whole line of offerings" aria-role="menuitem">Shop all products</a></div>
        </div>
        <!-- Member Centre Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Member Centre<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="./memberProfile_afterConfirmation.html" title="User's profile" aria-role="menuitem">Profile</a>
            <a class="zuc-accordion-link" href="./user_plans.html" title="Member's Plans" aria-role="menuitem">Plans</a>
            <a class="zuc-accordion-link" href="./user_transactionHistory.html" title="Member's Billing options" aria-role="menuitem">Billing</a>
            <a class="zuc-accordion-link" href="./user_rewards.html" title="Member's Rewards" aria-role="menuitem">Rewards</a>
            <a class="zuc-accordion-link" href="./member_shop.html" title="Gift card screen a user can buy." aria-role="menuitem">Shop</a>
            <a class="zuc-accordion-link" href="./membership_faq.html" title="Frequently Asked Questions" aria-role="menuitem">FAQ</a>
          </div>
        </div>
        <!-- Shop Now ---------------------------------->
        <!-- <div class="zuc-accordion-item" data-accordion-item> Removing this div to make it click on mobile.-->
        <a class="zuc-accordion-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Now"
          style="display: block;font-size: 5vw;text-transform: uppercase;font-weight: 500;padding: 2vh 7vw;color: #f7f7f7;">Shop Now<i class="zuc-accordion-arrow fas fa-angle-right"></i></a>
        <!-- </div> -->
      </div>
      <div class="zuc-menu" data-open-menu>
        <div class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle"><span class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu">Mobile Menu</span></div>
      </div>
      <!-- Social Icons-->
      <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
        <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
        <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- Broadcast Banner-->
    <div class="zuc-nav-broadcast flex flex-hor-between flex-vert-center" data-broadcast-banner>
      <div class="zuc-broadcast-text u-truncate u-bold">Suggested editable broadcast banner that you can turn on/off for promos &amp; customer care outages.</div>
      <div class="zuc-broadcast-close" onclick="closeBroadcast()"><i class="fas fa-times"></i></div>
    </div>
  </div>
  <!--Main page content starts  -->

  <!-- Main page content ends -->
  <section class="accountOverview-container">
    <!-- For less than 1024px  devices-->
    <div class="account-overview">  
      <div class="verticalMenu-forMobile">
        
      </div>
      <!-- For more than 1024px width -->
      <div class="verticalMenu flex flex-column">
        <a href="#" class="flex flex-vert-center"><i class="fas fa-user-circle"></i>Welcome, xxxx</a>
        <a href="#" class="flex flex-vert-end margin-top-2 verticalMenu-active"><i class="fas fa-home"></i>Account Overview</a>
        <a href="#" class="flex flex-vert-end"><i class="far fa-credit-card"></i>My Payment Details</a>
        <a href="#" class="flex flex-vert-end"><i class="fas fa-pencil-alt"></i>Plan Management</a>
        <a href="#" class="flex flex-vert-end"><i class="fas fa-gift"></i>My Rewards</a>
        <a href="#" class="flex flex-vert-end"><i class="far fa-file-alt"></i>Transaction History</a>
        <a href="#" class="flex flex-vert-end"><i class="far fa-folder-open"></i>Important Documents</a>
        <a href="#" class="flex flex-vert-end"><i class="far fa-eye"></i>My Claim Status</a>
        <a href="#" class="flex flex-vert-end"><i class="fas fa-shipping-fast"></i>My Orders</a>
        <a href="#" class="flex flex-vert-end"><i class="fas fa-toggle-on"></i>Activate A Plan</a>
      </div>
      <div class="accountOverview-content margin-top-1">
        <h3 class="u-zuc-indigo u-bold" style="margin:0;">Account Overview</h3>
        <p class="" style="font-size: 22px;font-weight: 500;margin:10px 0;padding:0">Profile</p>
        <div class="flex flex-column">
          <div class="accountInfo-input">
            <label>Email Address :</label>
            <input type="text" name="accountOverview-emailId">
          </div>
          <div class="accountInfo-input">
            <label>Service Address :</label>
            <input type="text" name="accountOverview-address">
          </div>
          <div class="accountInfo-input">
            <label>Phone Number :</label>
            <input type="number" name="accountOverview-phoneNumber">
          </div>
          <div class="accountInfo-input">
            <label>Member Id :</label>
            <input type="number" name="accountOverview-memberId">
          </div>
          <div class="flex flex-vert-center flex-hor-center margin-top-1">
            <button class="zuc-btn zuc-memberForm-button secondaryButton-color center" type="submit"><a href="javascript:void(0)" onclick="toggleModal('[data-modal-editProfile]')">Edit profile</a></button>
            <button class="zuc-btn zuc-memberForm-button secondaryButton-color center" type="submit"><a href="#/">Reset Password</a></button>
          </div>
        </div>
        <!-- Your plans section -->
        <div class="margin-top-2 margin-bottom-2">
          <p style="font-size: 30px;font-weight: 500;" class="margin-bottom-1">Your Plans</p>
          <div class="overviewAccount-plansBox">
            <div class="">
              <div class="flex flex-column">
                <p class="u-zuc-indigo u-bold" style="font-size: 1.85em;">Smarter Living Plan</p>
                <p class="u-bold">Combo Plan: Home Systems and Appliances</p>
                <a href="#/" style="font-style: italic;text-decoration: underline;">Terms and Conditions</a>
                <span style="margin-top:12%;">
                  <p class="u-zuc-indigo" style="font-size: 1.85em;">Subscription Details:</p>
                  <p class="u-bold">Your next bill date is xxxx-xx-xx.</p>
                  <p class="u-bold">Your credit card (ending in xxxx) will be charged $xx + tax</p>
                </span>
                <a href="#/" class="margin-top-1 u-zuc-indigo u-uppercase u-bold">Change Payment Details</a>
              </div>
              <div>
                <img src="../../Images/Zuc/images/member-portal/Home-Appliances.png" class="center" style="">
              </div>
            </div>
          </div>
        </div>
        <!--AccountOverview div ends  -->
      </div>
    </div>
  </section>
  <section class="zuc-modal" data-modal-editProfile onclick="toggleModal('[data-modal-editProfile]')">
    <div class="zuc-modal-content editProfile-container" onclick="event.stopPropagation()">
      <p class="u-zuc-indigo u-text-center title">Edit Profile</p>
      <div class="margin-top-1">
        <div class="zuc-form-row">
          <div class="zuc-form-group flex-form-input">
            <label>First Name:</label>
            <input type="text" name="profile-firstName" for="" >
          </div>
          <div class="zuc-form-group flex-form-input">
            <label>Last Name:</label>
            <input type="text" name="profile-lastName" for="" >
          </div>
          <div class="zuc-form-group flex-form-input">
            <label>Address 1:</label>
            <input type="text" name="profile-address1" for="" >
          </div>
          <div class="zuc-form-group flex-form-input">
            <label>Address 2:</label>
            <input type="text" name="profile-address2" for="" >
          </div>
          <div class="zuc-form-group flex-form-input">
            <label>City:</label>
            <input type="text" name="profile-addressCity" for="" >
          </div>
        </div> 
        <div class="zuc-form-row">
            <div class="zuc-form-50 zuc-form-group flex-form-input">
              <label>Province:</label>
              <input type="text" name="profile-province" for="" >
            </div>
            <div class="zuc-form-50 zuc-form-group flex-form-input">
              <label>Postal Code:</label>
              <input type="text" name="profile-postalCode" for="" >
            </div>
        </div>
        <div class="margin-top-2  margin-bottom-1 flex flex-vert-center flex-hor-center">
          <button class="zuc-btn zuc-memberForm-button secondaryButton-color" type="submit" style="margin:0 10px;"><a href="javascript:void(0)">Complete</a></button>
          <a href="#/" class="u-uppercase u-bold" onclick="toggleModal('[data-modal-editProfile]')">Cancel</a>
        </div>
      </div>
    </div>
  </section>
  <!-- <footer></footer> -->

  <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>

</body>

</html>