<section class="zuc-featured-block">
	<h2 class="sr-only">Smarter living memeber center's confirmation text and link about account registration.</h2>

	<div class="zuc-featured flex registration-border">
		<div class="page-smarterLiving-logo center">
			<img src="/Images/Zuc/images/homepage/SmarterLivingLogo_small.png" alt="Smarter Living logo with house icon on the left.">
		</div>
		<!-- Sent link to Email -->
		<p class="center registration-para">Congratulations,<strong>Abcd</strong><!--Name of the user -->. Your Smarter Living account set up is almost complete. An account activation email has been sent to your inbox. Please select the link to complete registration.</p>
		<!-- After confirmation text -->
		<p class="center registration-para">Congratulations,<strong>Abcd</strong><!--Name of the user -->. Your Smarter Living account set up is now active.<br>Please <a href="#/">Login</a></p>
	</div>
</section>