<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Zucora Home: Event page</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/member-center_style.css" rel="stylesheet">
  <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"> -->
  <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- [ FONTS ]-->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
  <!-- [ JQUERY ]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Jquery ui -->
  <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script> -->
  <script src="../../Scripts/Zuc/js/navigation.js">
  </script>
  <script src="../../Scripts/Zuc/js/modals.js">
  </script>
  <script src="../../Scripts/Zuc/js/display-jobPostings.js">
  </script>
  <script src="../../Scripts/Zuc/js/Controllers/Utils.js">
  </script>
  <script src="../../Scripts/Zuc/js/member-center.js">
  </script><!-- [ Alerts ]-->

  <script src="https://cdn.jsdelivr.net/alertifyjs/1.9.0/alertify.min.js">
  </script>
  <link href="https://cdn.jsdelivr.net/alertifyjs/1.9.0/css/alertify.min.css" rel="stylesheet"><!-- [ RESPONSIVE VIEWPORT ]-->
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>
  <!-- Site Navigation-->
  <div class="zuc-nav-wrapper" data-nav-height>
    <!-- Mobile Navigation-->
    <!-- User Navigation-->
    <div class="zuc-nav-user flex flex-hor-between flex-vert-center u-uppercase">
      <!-- Slogan-->
      <div class="zuc-nav-slogan u-normal">CANADA-WIDE SHIPPING AVAILABLE. FREE ON ORDERS OVER<span class="u-zuc-mint">$39*</span></div>
      <!--Nav Links-->
      <div class="zuc-user-links flex flex-hor-start flex-hor-between flex-vert-center">
        <a href="/Zuc/ourstory" style="text-transform: uppercase;color:white;">About us</a>
        <a href="#/" style="text-transform: uppercase;color:white;">Blog</a>
        <!-- Login - Logged Out State-->
        <a class="zuc-user-login flex flex-vert-center u-bold u-auth-show" href="javascript:void(0)" onclick="toggleModal('[data-modal-login]')" title="Member Login">
          <!-- Logged Out State-->
          <!-- <i class="fas fa-lock u-auth-hide"></i> -->
          <span class="u-auth-hide">Member Centre</span></a>
        <!-- Account - Logged In State-->
        <a class="zuc-user-login flex flex-vert-center u-bold" href="#" title="Logout">
          <!-- Logged In state-->
          <i class="fas fa-user u-auth-show"></i><span class="u-auth-hide">Logout</span></a>
      </div>
    </div>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
      <!-- Nav Branding--><a class="zuc-nav-brand" href="/Zuc/index"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- Nav Dropdown--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
        <!-- Smarter Living Link -------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">What Is Smarter Living?</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Smarter Living Plans</a><a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living."
                  aria-role="menuitem">Smarter Living Benefits</a>
                <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
              </div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Smarter Living is about making choices that make life more comfortable and convenient.</p><img src="../../Images/Zuc/images/nav/smarter-living.png" alt="A smiling couple">
              </div>
            </div>
          </div>
        </div>
        <!-- Service Plans --------------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Service Plans</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Furniture plan</a><a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage"
                  aria-role="menuitem">Appliances Plan</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Home Systems Plan</a><a href="/Zuc/serviceplans"
                  title="View our bundles &amp; combos" aria-role="menuitem">See all Bundles &amp; Combos</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>The Smarter Living Plan offers you comprehensive, budget friendly service coverage for your furniture, major appliances, and home-comfort systems.</p><img src="../../Images/Zuc/images/nav/service-plans.png"
                  alt="A service person with toolbag">
              </div>
            </div>
          </div>
        </div>
        <!-- Smarter Home Products --------------------------------->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">SMARTER HOME PRODUCTS</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown Links-->
              <div class="zuc-dropdown-column"><a href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Smarter Living Solutions</a><a href="/Zuc/zucollection"
                  title="View our line of home care products" aria-role="menuitem">ZU Collection</a><a href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a><a href="/Zuc/furniturecare"
                  title="Learn more about our home wellness care kits" aria-role="menuitem">Furniture Care</a><a href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop All Products" aria-role="menuitem">Shop
                  all products</a></div>
              <!-- Dropdown Images-->
              <div class="zuc-dropdown-column zuc-dropdown-images">
                <!-- Column Content-->
                <p>Empower your quest for a clean home and healthy family with Zucora Home's environmentally-responsible products.</p><img src="../../Images/Zuc/images/nav/smarter-home-products.png" alt="A furnished living room">
              </div>
            </div>
          </div>
        </div>
        <!-- Shop Now --------------------------------->
        <div class="zuc-nav-dropdown --clickme"><a class=" u-uppercase" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Zucora Home Products">Shop Now</a></div>
      </div>

      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span></div>
      </div>
    </nav>
    <!-- Member center, will show up memeber have logged in. -->
    <div class="member-navigation flex">
      <div class="member-links">
        <a href="./memberProfile_afterConfirmation.html">Profile</a><span class="divider">|</span>
        <a href="./user_plans.html" class="active">Plans</a><span class="divider">|</span>
        <a href="./user_transactionHistory.html">Billing</a><span class="divider">|</span>
        <a href="./user_rewards.html">Rewards</a><span class="divider">|</span>
        <a href="https://www.zucorahome.com/Zuc/ecomplan">Shop</a><span class="divider">|</span>
        <a href="./membership_faq.html">FAQ</a>
      </div>
    </div>
    <!-- Mobile Navigation-->
    <!-- Mobile Only Nav ------------------------>
    <div class="zuc-mobile-nav" data-mobile-menu>
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content"><a href="/Zuc/index" title="Zucora Home"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Zucora Home"></a>
        <!-- Primary CTA Button--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
      </div>
      <!-- Accordion Nav ------------------------------------------>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--About Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">About Us<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Zuc/ourstory" title="About Zucora Home" aria-role="menuitem">Our Story</a><a class="zuc-accordion-link" href="/Zuc/formcontactus" title="Contact us"
              aria-role="menuitem">Contact Us</a><a class="zuc-accordion-link" href="/Zuc/ourstory" title="Our team" aria-role="menuitem">Our Team</a></div>
        </div>
        <!-- Smarter Living Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">What Is Smarter Living?<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Smarter Living Plans</a><a href="/Zuc/smarterlivingmembershipbenefits"
              title="What is Smarter living." aria-role="menuitem">Smarter Living Benefits</a>
            <!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>-->
          </div>
        </div>
        <!-- Service Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Service Plans<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Furniture plan</a><a href="/Zuc/serviceplansappliance"
              title="Learn more about appliance coverage" aria-role="menuitem">Appliances Plan</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Home Systems Plan</a><a
              href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">See all Bundles &amp; Combos</a></div>
        </div>
        <!-- Home Care Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Smarter Home Products<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Smarter Living Solutions</a><a
              class="zuc-accordion-link" href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">ZU Collection</a><a class="zuc-accordion-link" href="/Zuc/purecare" title="View our line of sleep wellness products"
              aria-role="menuitem">PureCare</a><a class="zuc-accordion-link" href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Furniture Care</a><a class="zuc-accordion-link"
              href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="View our whole line of offerings" aria-role="menuitem">Shop all products</a></div>
        </div>
        <!-- Member Centre Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Member Centre<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="./memberProfile_afterConfirmation.html" title="User's profile" aria-role="menuitem">Profile</a>
            <a class="zuc-accordion-link" href="./user_plans.html" title="Member's Plans" aria-role="menuitem">Plans</a>
            <a class="zuc-accordion-link" href="./user_transactionHistory.html" title="Member's Billing options" aria-role="menuitem">Billing</a>
            <a class="zuc-accordion-link" href="./user_rewards.html" title="Member's Rewards" aria-role="menuitem">Rewards</a>
            <a class="zuc-accordion-link" href="./member_shop.html" title="Gift card screen a user can buy." aria-role="menuitem">Shop</a>
            <a class="zuc-accordion-link" href="./membership_faq.html" title="Frequently Asked Questions" aria-role="menuitem">FAQ</a>
          </div>
        </div>
        <!-- Shop Now ---------------------------------->
        <!-- <div class="zuc-accordion-item" data-accordion-item> Removing this div to make it click on mobile.-->
        <a class="zuc-accordion-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Now"
          style="display: block;font-size: 5vw;text-transform: uppercase;font-weight: 500;padding: 2vh 7vw;color: #f7f7f7;">Shop Now<i class="zuc-accordion-arrow fas fa-angle-right"></i></a>
        <!-- </div> -->
      </div>
      <div class="zuc-menu" data-open-menu>
        <div class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle"><span class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu">Mobile Menu</span></div>
      </div>
      <!-- Social Icons-->
      <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
        <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
        <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- Broadcast Banner-->
    <div class="zuc-nav-broadcast flex flex-hor-between flex-vert-center" data-broadcast-banner>
      <div class="zuc-broadcast-text u-truncate u-bold">Suggested editable broadcast banner that you can turn on/off for promos &amp; customer care outages.</div>
      <div class="zuc-broadcast-close" onclick="closeBroadcast()"><i class="fas fa-times"></i></div>
    </div>
  </div>

  <!-- Login Modal-->
  <!-- Modal Container-->
  <div class="zuc-modal" data-modal-login onclick="toggleModal('[data-modal-login]')">
    <!-- Modal Content-->
    <div class="zuc-modal-content member-login" onclick="event.stopPropagation()">
      <!-- Place Modal Content Here-->
      <div><img src="../../Images/Zuc/images/homepage/SmarterLivingLogo_small.png" alt="Smarter Living logo with house icon on the left." class="smarterLiving-logo center"></div>
      <div class="zuc-modal-subtitle u-text-center">Member login</div>
      <!-- User Email-->
      <div class="zuc-input-group center">
        <div class="zuc-input-name">Email address</div>
        <label class="u-screenreader" for="field-email">Email address</label>
        <input type="text" required data-required id="field-email" name="email" placeholder="Email address">
      </div>
      <!-- User Password-->
      <div class="zuc-input-group center">
        <div class="zuc-input-name">Password</div>
        <label class="u-screenreader" for="field-password">User Password</label>
        <input type="password" required data-required name="password" placeholder="Password"><a style="font-size:0.85em;" class="zuc-input-link" href="/Zuc/formforgotpassword" title="Password Reset">I need help with my&nbsp;<span
            class="u-highlight">password</span></a>
      </div>
      <!-- Remember me radio button -->
      <div class="remember-me">
        <input type="checkbox" value="remember-me-checked" name="remember-me"> Remember me
      </div>
      <!-- Submit Button-->
      <div class="form-buttons">
        <button class="zuc-btn zuc-btn-secondary --full-width"><a href="./welcome_screen.html">Login</a></button>
        <button class="zuc-btn zuc-btn-secondary --full-width"><a href="./account-setup.html">Become a Member</a></button>
        <!-- <a class="zuc-register zuc-input-link u-text-center" href="#" title="Become a Member" style="display:block">I want to become a<span class="u-highlight">&nbsp;Smarter Living Member</span></a> -->
      </div><!-- Button div ends-->
    </div>
  </div>
  <!-- Main page content-->
  <section class="member-info-boxed-rightSide">
    <h2 class="sr-only">A box below member navigation displaying member number, member since, and reward balance.</h2>
    <div class="memberInfo-table">
      <div>
        <p class="u-bold">Member Since</p>
      </div>
      <div>
        <p>2019/10/29</p>
      </div>
      <div>
        <p class="u-bold">Rewards Balance</p>
      </div>
      <div>
        <p>10,900</p>
      </div>
    </div>
  </section>

  <!-- Profile form, populating the existing settings and information -->
  <section class="zuc-service-form member-center-container" style="margin-top:2% !important;">
    <h2 class="sr-only">Smarter living users address list.</h2>
    <section class="inner-width">
      <div>
        <img src="../../Images/Zuc/images/homepage/SmarterLivingLogo_larger.png" alt="Smarter living logo with house roof icon." class="page-smarterLiving-logo-noBorder center">
      </div>
      <div class="memberProfile-title margin-bottom-2">
        <h3>My Smarter Living Service Plans</h3>
      </div>
      <div class="description margin-top-1">
        <p>The Smarter Living Plan you've selected will help take the stress out of home management and protect your budget. When a covered item requires service, we're ready to help. Contact us by phone or 24/7 online. If a service technician is required you'll pay a small Trade Service Fee and we'll arrange for priority service and pay for parts, labour, or replacement of the covered item. </p>

        <p class="margin-top-1">We offer a range of Smarter Living Plans to help protect your appliances, home furnishings, or home systems. They can be purchased individually, combined, or packaged together to ensure your monthly subscription is the right service plan for your family. </p>
      </div>
      <div class="margin-top-2 margin-bottom-1">
        <button class="center zuc-btn zuc-memberForm-button secondaryButton-color" type="submit"><a href="https://www.zucorahome.com/Zuc/serviceplans">Learn more</a></button>
      </div>
      <!-- Else show plan details pane -->
      <div class="planDetails-container margin-top-1">
        <h5>Type of Smarter Living Service Plan in My Account</h5>
        <div class="planDetails-table margin-top-2">
          <div class="row-heading">
            <p class="dark-grey strong">Plan Type</p>
            <p class="dark-grey strong">Start Date</p>
            <p class="dark-grey strong">Renewal Date</p>
            <p class="dark-grey strong">Terms & Conditions</p>
            <p class="dark-grey strong" style="border-right:none;">Status</p>
          </div>

          <div class="row-heading margin-top-1">
            <div class="row-data">
              <p class="" style="word-break: break-word;">Combo Plan <br>(furniture / appliances)</p>
            </div>
            <div class="row-data">
              <p class="">2017/05/28</p>
            </div>
            <div class="row-data">
              <p class="">2018/05/27</p>
            </div>
            <div class="row-data">
              <p class=""><a href="#/" style="text-decoration: underline;">Combo plan</a></p>
            </div>
            <div class="row-data">
              <p class=" red">Inactive</p>
            </div>
          </div>
        </div>
        <!--Plan detials ends -->
      </div>
      <!--Plan Details container ends -->
      <div class="margin-top-2">
        <p>NOTE: Below text is just for demo.</p>
        <p class="light-grey">**This button will show up when user have not bought Full Smarter Living Plan.</p>
        <button class="zuc-btn zuc-memberForm-button primaryButton-color" type="submit"><a href="https://www.zucorahome.com/Zuc/serviceplans">Upgrade my plan</a></button>
      </div>
      <!-- This div will show up if they have any history for service request only.  -->
      <!-- Service request history section -->
      <div class="planDetails-container">
        <h5>Service Request History</h5>

        <!-- table begins -->
        <div class="serviceHistory-table margin-top-2">

          <div class="historyTable-heading">
            <p class="strong">Reference No.</p>
            <p class="strong">Start Date</p>
            <p class="strong">Last Update</p>
            <p class="strong" style="border-right:none;">Status</p>
          </div>


          <div class="row-one tableRow-borderBottom">

            <div class="planDetails-table-row row-data detailsPane-closed">
              <a href="#/" class="chevron text-center">
                <p class="dark-grey strong"><i class="fa fa-chevron-down"></i> F2114</p>
              </a>
              <p class="">2019/07/10</p>
              <p class="">2019/05/27</p>
              <p class="">Couriered OxyTough</p>
            </div>
            <div class="planDetails-table-row row-data margin-bottom-1" style="display: none;">
              <p class="dark-grey"></p>
              <p class="">2019/07/25</p>
              <p class=""></p>
              <p class="">Waiting for registration</p>
              <p class="dark-grey"></p>
              <p class="">2019/08/05</p>
              <p class=""></p>
              <p class="">Requested pictures</p>
            </div>

          </div>

          <div class="row-two tableRow-borderBottom">

            <div class="planDetails-table-row row-data detailsPane-closed">
              <a href="#/" class="chevron text-center">
                <p class="dark-grey strong"><i class="fa fa-chevron-down"></i> F1998</p>
              </a>
              <p class="">2018/04/02</p>
              <p class="">2018/05/27</p>
              <p class="">Resolved</p>
            </div>

            <div class="planDetails-table-row row-data margin-bottom-1" style="display: none;">
              <p class="dark-grey"></p>
              <p class="">2019/07/25</p>
              <p class=""></p>
              <p class="">Waiting for registration</p>
              <p class="dark-grey"></p>
              <p class="">2019/08/05</p>
              <p class=""></p>
              <p class="">Requested pictures</p>
            </div>

          </div>

          <div class="tableRow-borderBottom row-three">
            <div class="planDetails-table-row row-data detailsPane-closed">
              <a href="#/" class="chevron text-center">
                <p class="dark-grey strong"><i class="fa fa-chevron-down"></i> F1998</p>
              </a>
              <p class="">2018/02/01</p>
              <p class="">2018/02/25</p>
              <p class="">Resolved</p>
            </div>
            <div class="planDetails-table-row row-data margin-bottom-1" style="display: none;">
              <p class="dark-grey"></p>
              <p class="">2019/07/25</p>
              <p class=""></p>
              <p class="">Waiting for registration</p>
              <p class="dark-grey"></p>
              <p class="">2019/08/05</p>
              <p class=""></p>
              <p class="">Requested pictures</p>
            </div>
          </div>

        </div>
        <!--table ends -->

        <div class="margin-top-2">
          <button class="zuc-btn zuc-memberForm-button secondaryButton-color" type="submit"><a href="https://www.zucorahome.com/Zuc/formservicerequest">Submit Service Request</a></button>
          <p class="margin-top-2 dark-grey strong">Call 1.866.667.6695 if you have any questions or would like to make changes to your Smarter Living Plans.</p>
        </div>

      </div>
      <!--Service request table ends-->
    </section>
    <!--Inner section ends-->
  </section>

  <!-- main page content ends -->
  <!-- Site Footer-->
  <footer class="zuc-footer-wrapper">
    <!-- - Footer Links-->
    <footer class="flex flex-hor-center zuc-footer">
      <div class="zuc-footer--brand-section flex flex-column"><a class="zuc-nav-brand" href="/Zuc/index" title="Home"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
        <div class="zuc-footer--social-icons-primary">
          <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
            <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
            <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="zuc-footer-body flex flex-row">
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">About Us</h4><a class="zuc-footer--link" href="/Zuc/formcontactus" title="Contact Us">Contact Us</a><a class="zuc-footer--link" href="/Zuc/ourstory" title="About Us">Our Story</a><a
              class="zuc-footer--link" href="/Zuc/ourstory#our-team" title="Our Team">Our Team</a><a class="zuc-footer--link" href="/Zuc/ourstory#join-us" title="Join Us">Join Us</a>
          </div>
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Member Centre</h4><a class="zuc-footer--link" href="/Zuc/smarterliving" title="What is Smarter Living?">What is Smarter Living?</a><a class="zuc-footer--link" href="javascript:void(0)"
              title="Member Login" onclick="toggleModal('[data-modal-login]')">Member Login</a><a class="zuc-footer--link" href="/Zuc/faq" title="Frequently Asked Questions">FAQ</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Products &amp; Services</h4><a class="zuc-footer--link" href="/Zuc/serviceplans" title="Service Plans Parent">Service Plans</a>
            <!--<a class="zuc-footer--link" href="/Zuc/smarterhomecontrol" title="Smarter Home Control">Smarter Home Control</a>--><a class="zuc-footer--link" href="/Zuc/smarterhomeproducts" title="Smarter Home Products">Smarter Home Products</a><a
              class="zuc-footer--link" href="/Zuc/formordersshipping" title="Orders and Returns">Orders &amp; Returns</a><a class="zuc-footer--link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products"
              title="Shop Now">Shop Now</a>
          </div>
        </div>
        <div class="zuc-footer--zuc-footer-right zuc-footer--column"><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
          <div class="zuc-footer--social-icons-secondary">
            <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
              <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
              <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="zuc-shipping-blurb"><span class="u-zuc-platinum">CANADA-WIDE SHIPPING AVAILABLE.<br />FREE ON ORDERS OVER</span><span class="u-zuc-mint">&nbsp; $39*</span></div>
        </div>
      </div>
    </footer>
    <!-- - Footer SubLinks-->
    <!-- Footer Sub Links-->
    <div class="zuc-footer--copyright flex flex-vert-center">
      <div class="zuc-footer--copyright-title"><span class="zuc-footer--copyright-text">Copyright&nbsp;&copy;&nbsp;</span><a class="zuc-footer--copyright-text" href="/Zuc/index" title="Zucora Home">Zucora Inc.</a><span
          class="zuc-footer--copyright-text">&nbsp;2018</span></div>
      <div class="zuc-footer--copyright-menu flex flex-hor-start"><a class="zuc-footer--copyright-text" href="/Zuc/privacypolicy" title="View our Privacy Policy">Privacy Policy</a><span>&bull;</span><a class="zuc-footer--copyright-text"
          href="/Zuc/termsservice" title="View our Terms of Service">Terms of Service</a><span>&bull;</span><a class="zuc-footer--copyright-text" href="/Zuc/sitemap" title="View our Sitemap">Sitemap</a></div>
    </div>
  </footer>
  <div class="zuc-footer--btm-trim"></div>
  <!--  @*@if (LoadModal) { Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@ -->
  <script>
    new LTPublicUtils().ShowUI();
  </script>
  <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>

</body>

</html>