<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Welcome email for Becoming member of ZucoraHome!</title>
    <meta name="description" content="Email for confirming the email account for ZucoraHome member.">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <style>
    	
    </style>
</head>
<body style="background-color:#f3f2f2;">
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" style="max-width: 980px;width: 980px;margin:2em auto !important;padding: 0;display: block;background-color:white !important">
		<tr>
			<td>
				<div style="background-color: white;padding:1em;"> <!--First inner div -->
					<!-- First inner Table starts-->
					<table role="presentation" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td style="background-color: white; width: 100%;padding:10px 15px; border-bottom: 2px solid #434DA0;display: flex;align-items: center;justify-content: center;">
								<h1 style=" font-family:'Merriweather',PublicoHeadline,  serif;color: #434DA0;font-family: 3em;">Welcome to</h1>
								<img src="../../Images/Zuc/images/member-portal/Smarter-Living-Logo.png" alt="Smarter Living logo.">
							</td>
						</tr>	
					</table>
					<!-- First inner table ends -->
				</div><!--First inner div ends -->
			</td>
		</tr>
	</table>
</body>
